# Canonical identity
Matthew Donovan <matthew.donovan@alumni.griffithuni.edu.au> <matthew.donovan@alumni.griffithuni.edu.au>
Matthew Donovan <matthew.donovan@alumni.griffithuni.edu.au> <matthew.donovan@alumni.griffthuni.edu.au>

# Unify alternate name with same emails
Matthew Donovan <matthew.donovan@alumni.griffithuni.edu.au> matthewdau85 <matthew.donovan@alumni.griffithuni.edu.au>
Matthew Donovan <matthew.donovan@alumni.griffithuni.edu.au> matthewdau85 <matthew.donovan@alumni.griffthuni.edu.au>
