--
-- PostgreSQL database dump
--

\restrict 9XqhlHngdqpBh86c0IKbaoBoRRA5QSStLuEvKV5WpuZfieeFNts2MPbTafcLAW5

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "orgId" text NOT NULL,
    "actorId" text NOT NULL,
    action text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: BankLine; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BankLine" (
    id text NOT NULL,
    "orgId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    amount numeric(65,30) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "idempotencyKey" text,
    "payeeCiphertext" text NOT NULL,
    "payeeKid" text NOT NULL,
    "descCiphertext" text NOT NULL,
    "descKid" text NOT NULL
);


ALTER TABLE public."BankLine" OWNER TO postgres;

--
-- Name: Org; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Org" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."Org" OWNER TO postgres;

--
-- Name: OrgTombstone; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OrgTombstone" (
    id text NOT NULL,
    "orgId" text NOT NULL,
    payload jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OrgTombstone" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "orgId" text NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: BankLine BankLine_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BankLine"
    ADD CONSTRAINT "BankLine_pkey" PRIMARY KEY (id);


--
-- Name: OrgTombstone OrgTombstone_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrgTombstone"
    ADD CONSTRAINT "OrgTombstone_pkey" PRIMARY KEY (id);


--
-- Name: Org Org_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Org"
    ADD CONSTRAINT "Org_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog_actorId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_actorId_createdAt_idx" ON public."AuditLog" USING btree ("actorId", "createdAt");


--
-- Name: AuditLog_orgId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_orgId_createdAt_idx" ON public."AuditLog" USING btree ("orgId", "createdAt");


--
-- Name: BankLine_orgId_idempotencyKey_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "BankLine_orgId_idempotencyKey_key" ON public."BankLine" USING btree ("orgId", "idempotencyKey");


--
-- Name: BankLine_orgId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "BankLine_orgId_idx" ON public."BankLine" USING btree ("orgId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: BankLine BankLine_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BankLine"
    ADD CONSTRAINT "BankLine_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public."Org"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrgTombstone OrgTombstone_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrgTombstone"
    ADD CONSTRAINT "OrgTombstone_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public."Org"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_orgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES public."Org"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 9XqhlHngdqpBh86c0IKbaoBoRRA5QSStLuEvKV5WpuZfieeFNts2MPbTafcLAW5

